.registerContainer {
  height: 100dvh;
  background-color: rgb(13, 12, 17);
  background-image: url('../../../../assets/images/blur_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header {
  display: flex;
  align-items: center;
  padding: 40px;
}

.logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.mainContentContainer {
  max-width: 1280px;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  margin: 0 auto;
  gap: 2rem;
}

.auraFlowDescription {
  flex: 1;
  text-align: center;
}

.title {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.bannerImage {
  border-radius: 1.5rem;
}

.imageCredit {
  text-align: center;
  font-size: 0.875rem;
}

.loginContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginContainer p {
  color: rgba(255, 255, 255, 0.75);
}

.registerForm {
  backdrop-filter: blur(10px);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
  border-radius: 1.5rem;
  padding: 2rem;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  max-width: 545px;
  width: 100%;
  margin: 0 auto;
}

.registerForm h1 {
  font-family: var(--font-roboto-bold);
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1.5rem;
  text-align: center;
}

.registerButton {
  width: 100%;
  margin-bottom: 1.5rem;
}
