.loginContainer {
  height: 100dvh;
  background-color: rgb(13, 12, 17);
  background-image: url('../../../../assets/images/blur_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header {
  display: flex;
  align-items: center;
  padding: 40px;
}

.logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.registerContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.registerContainer p {
  color: rgba(255, 255, 255, 0.75);
}

.loginForm {
  backdrop-filter: blur(10px);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
  border-radius: 1.5rem;
  padding: 2rem;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  max-width: 545px;
  width: 100%;
  margin: 0 auto;
}

.loginForm h1 {
  font-family: var(--font-roboto-bold);
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1.5rem;
  text-align: center;
}

.loginButton {
  width: 100%;
  margin-bottom: 1.5rem;
}

.orContainer {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;

  hr {
    color: rgb(255, 255, 255);
    opacity: 0.2;
    width: 100%;
  }

  div {
    flex-shrink: 0;
    padding: 0px 1rem;
    text-align: center;
    opacity: 0.75;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.googleButton {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition:
    background 0.2s ease-in-out,
    color 0.15s ease-in-out;
  border: none;
}

.googleButton:hover {
  background: rgba(255, 255, 255, 0.05);
}

.googleIcon {
  width: 24px;
}
