.homePageContainer {
  display: flex;
  height: 100dvh;
  padding: 8px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.innerContainer {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  flex-direction: row;
  position: relative;
}

.mainContentContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex: 1 1 0%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgb(13, 12, 17);
  background-image: url('../../../../assets/images/blur_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  flex: 1 1 0%;
  flex-direction: column;
  padding: 1.5rem;
}

.sidebarToggleButton {
  color: white;
  margin-left: auto;
  width: 60px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.sidebarToggleButton:hover {
  background: rgba(255, 255, 255, 0.1);

  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in-out;
}

.greetingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 1rem;
  align-items: center;
}

.date {
  font-size: 20px;
}

.greeting {
  font-size: 28px;
}

.workAreasContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 1200px;
  margin: 0 auto;
}

.workArea {
  flex: 1;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  position: relative;
  background:
    linear-gradient(rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.01) 100%) border-box content-box,
    border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-image: initial;
  border-radius: 1rem;
  transition:
    opacity 0.25s ease-in-out,
    transform 0.3s ease-in;
  overflow: hidden;
}
